* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    
    display: flex;
}

#left {
    width: 30%;
    height: 100%;
    background: #586156;
    position: relative;
    top: 100%;
    z-index: -1;
    transition: .5s;
}

#middle {
    width: 40%;
    height: 100%;
    background: #494a49;
    transform-origin: left;
    transform: rotateY(90deg);
    transition: .5s;
    z-index: -1;
}

#right {
    width: 30%;
    height: 100%;
    background: #acdf4d;
    position: relative;
    bottom: 100%;
    transition: .5s;
    z-index: -1;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    opacity: 0;
    transition: .8s;
}

#logo {
    width: 30%;
    height: 100%;
    padding-left: 10%;
}

#logo h1 {
    line-height: 80px;
    color: #acdf4d;
}

#logo h1::first-letter {
    text-transform: uppercase;
    font-size: 45px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

#menu1 {
    width: 40%;
    height: 100%;
    text-decoration: none;
}

#menu1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    text-decoration: none;
}

#menu1 ul li {
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

#menu2 {
    width: 30%;
    height: 100%;
}

#menu2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 44%;
}

#menu2 ul li {
    line-height: 80px;
    color: #fff;
}

#heading {
    position: absolute;
    top: 20%;
    left: 15%;
}

#heading h1 {
    font-size: 50px;
    letter-spacing: 4px;
    word-spacing: 6px;
    color: #fff;
    position: relative;
    line-height: 70px;
}

#heading h1 span {
    color: #acdf4d;
}

#he1 {
    left: 60px;
    opacity: 0;
    transition: .5s;
}   

#he2 {
    left: 0;
    opacity: 0;
    transition: .5s;
}

#text {
    position: absolute;
    width: 28%;
    height: auto;
    padding: 25px;
    background: #fff;
    bottom: 13%;
    border-radius: 80px;
    margin-left: 15px;
    opacity: 0;
    transition: .5s;
}

#text p {
    text-align: center;
    font-weight: bold;
    color: #586156;
}

#text button {
    width: 150px;
    height: 30px;
    border: 0;
    background: #acdf4d;
    position: relative;
    top: 80px;
    left: 90px;
    border-radius: 20px;
}

#img {
    position: absolute;
    width: 550px;
    height: auto;
    top: 25%;
    left: 50%;
    opacity: 0;
    transition: .5s;
}

#img img {
    width: 100%;
    height: auto;
}

#social {
    position: absolute;
    top: 46%;
    right: 0;
    width: 50px;
    height: 150px;
}

#social ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#social ul li {
    width: 50px;
    height: 50px;
    background: rgb(97, 94, 94);
    text-align: center;
    line-height: 50px;
}